.auction-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  /* background-image: url('../resources/gavel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 109vh; */
}

.card {
  margin: 20px;
  color: white;
  box-shadow: 5px 10px 28px #888888;
}

