.auction-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* align-content: space-between; */
  width: 100%;
  margin: 0 auto;
}

.card {
  margin: 20px;
  box-shadow: 5px 10px 28px #888888;
}