form {
  text-align: right;
  width: 350px;
  margin: 30px auto;
  padding: 30px;
  border: .5px solid gray;
  border-radius: 5px;
}

input[type='text'], input[type='password'] {
  float: right;
  width: 70%;
  font-size: large;
}

button {
  padding: 10px 20px;
  /* font-size: large; */
  text-transform: capitalize;
  color: white;
  background: rgba(0, 0, 255, 0.7);
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background: rgb(0, 0, 200);
}

.error-text {
  color: red;
  font-size: small;
}

p {
  line-height: 0;
  text-align: left;
}

#heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
}